body.bilibili-helper-dark-mode:not(.bilibili-only-video-page-dark-mode),
html body.bilibili-helper-dark-mode:not(.bilibili-only-video-page-dark-mode) #app,
html body.bilibili-helper-dark-mode:not(.bilibili-only-video-page-dark-mode) #bili-header-container,
html body.bilibili-helper-dark-mode:not(.bilibili-only-video-page-dark-mode) .live-room-app,
html body.bilibili-helper-dark-mode:not(.bilibili-only-video-page-dark-mode) #i_cecream {
	background-color: rgb(31, 32, 34);
	color: rgb(232, 232, 232);
}
html body.bilibili-helper-dark-mode:not(.bilibili-only-video-page-dark-mode) .international-header .mini-type,
html body.bilibili-helper-dark-mode:not(.bilibili-only-video-page-dark-mode) .mini-header, .prehold-nav {
	background: rgb(21 21 21);
}

/* 专栏 */
html body.bilibili-helper-dark-mode:not(.bilibili-only-video-page-dark-mode) #app > .bg,
html body.bilibili-helper-dark-mode:not(.bilibili-only-video-page-dark-mode) #app > .bgc {
	background: none;
}

html body.bilibili-helper-dark-mode:not(.bilibili-only-video-page-dark-mode) .opus-detail {
	background-color: rgb(23 24 26);
}

html body.bilibili-helper-dark-mode:not(.bilibili-only-video-page-dark-mode) .side-toolbar__box,
html body.bilibili-helper-dark-mode:not(.bilibili-only-video-page-dark-mode) .side-toolbar__btn,
html body.bilibili-helper-dark-mode:not(.bilibili-only-video-page-dark-mode) .side-toolbar__top {
	background-color: rgb(23 24 26);
	color: rgb(117 122 129);
}

