* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow: hidden;
  font-family:
    "Microsoft YaHei",
    "PingFang SC",
    system-ui,
    sans-serif;
  background: #dfeafb;
}

@font-face {
  font-family: "pmzd";
  src: url("/font/pmzd.woff2") format("woff2");
}

a {
  color: inherit;
}
